# Vercel Edge Config
# Run 'vercel env pull' to get your latest variables
EDGE_CONFIG="https://edge-config.vercel.com/ecfg_vkjfkixntqswkhyypiuwsjweim48/api?token=PASTE_YOUR_TOKEN_HERE"
# If using in client-side Vite, prefix with VITE_
VITE_EDGE_CONFIG="https://edge-config.vercel.com/ecfg_vkjfkixntqswkhyypiuwsjweim48/api?token=PASTE_YOUR_TOKEN_HERE"
